.loader {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #000000 100%);
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

.loader > div {
  width: 100%;
}

#main-loader {
  grid-column-start: 2;
}

#loading-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 302px 17684px #FFF , 1038px 137px #FFF , 1628px 1383px #FFF , 545px 291px #FFF , 1194px 1547px #FFF , 428px 483px #FFF , 1392px 285px #FFF , 1201px 10px #FFF , 1710px 1174px #FFF , 27px 94px #FFF , 470px 1734px #FFF , 1601px 78px #FFF , 473px 782px #FFF , 284px 1873px #FFF , 1645px 1825px #FFF , 723px 433px #FFF , 1841px 30px #FFF , 1899px 1342px #FFF , 1559px 1712px #FFF , 1108px 706px #FFF , 237px 591px #FFF , 593px 1875px #FFF , 1399px 677px #FFF , 485px 360px #FFF , 1267px 811px #FFF , 1123px 1261px #FFF , 269px 1426px #FFF , 912px 969px #FFF , 1371px 1885px #FFF , 1957px 798px #FFF , 1648px 1658px #FFF , 1898px 248px #FFF , 1095px 1370px #FFF , 1626px 555px #FFF , 741px 119px #FFF , 170px 1759px #FFF , 1552px 584px #FFF , 615px 262px #FFF , 1454px 1237px #FFF , 1210px 47px #FFF , 1153px 483px #FFF , 254px 829px #FFF , 1356px 1391px #FFF , 264px 1760px #FFF , 4px 593px #FFF , 1838px 388px #FFF , 1797px 439px #FFF , 1189px 305px #FFF , 1547px 1541px #FFF , 814px 1001px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 302px 17684px #FFF , 1038px 137px #FFF , 1628px 1383px #FFF , 545px 291px #FFF , 1194px 1547px #FFF , 428px 483px #FFF , 1392px 285px #FFF , 1201px 10px #FFF , 1710px 1174px #FFF , 27px 94px #FFF , 470px 1734px #FFF , 1601px 78px #FFF , 473px 782px #FFF , 284px 1873px #FFF , 1645px 1825px #FFF , 723px 433px #FFF , 1841px 30px #FFF , 1899px 1342px #FFF , 1559px 1712px #FFF , 1108px 706px #FFF , 237px 591px #FFF , 593px 1875px #FFF , 1399px 677px #FFF , 485px 360px #FFF , 1267px 811px #FFF , 1123px 1261px #FFF , 269px 1426px #FFF , 912px 969px #FFF , 1371px 1885px #FFF , 1957px 798px #FFF , 1648px 1658px #FFF , 1898px 248px #FFF , 1095px 1370px #FFF , 1626px 555px #FFF , 741px 119px #FFF , 170px 1759px #FFF , 1552px 584px #FFF , 615px 262px #FFF , 1454px 1237px #FFF , 1210px 47px #FFF , 1153px 483px #FFF , 254px 829px #FFF , 1356px 1391px #FFF , 264px 1760px #FFF , 4px 593px #FFF , 1838px 388px #FFF , 1797px 439px #FFF , 1189px 305px #FFF , 1547px 1541px #FFF , 814px 1001px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1907px 19290px #FFF , 62px 324px #FFF , 472px 810px #FFF , 1244px 1785px #FFF , 367px 1980px #FFF , 30px 992px #FFF , 1061px 915px #FFF , 1189px 431px #FFF , 1893px 1420px #FFF , 61px 1580px #FFF , 1877px 1131px #FFF , 87px 1890px #FFF , 126px 659px #FFF , 1972px 1862px #FFF , 1586px 664px #FFF , 1251px 1954px #FFF , 1467px 1373px #FFF , 1563px 1174px #FFF , 542px 261px #FFF , 916px 486px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1907px 19290px #FFF , 62px 324px #FFF , 472px 810px #FFF , 1244px 1785px #FFF , 367px 1980px #FFF , 30px 992px #FFF , 1061px 915px #FFF , 1189px 431px #FFF , 1893px 1420px #FFF , 61px 1580px #FFF , 1877px 1131px #FFF , 87px 1890px #FFF , 126px 659px #FFF , 1972px 1862px #FFF , 1586px 664px #FFF , 1251px 1954px #FFF , 1467px 1373px #FFF , 1563px 1174px #FFF , 542px 261px #FFF , 916px 486px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1599px 3684px #FFF , 1775px 1514px #FFF , 1667px 461px #FFF , 1921px 1880px #FFF , 790px 1574px #FFF , 203px 1377px #FFF , 1883px 1608px #FFF , 1942px 1962px #FFF , 749px 1746px #FFF , 1078px 480px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1599px 3684px #FFF , 1775px 1514px #FFF , 1667px 461px #FFF , 1921px 1880px #FFF , 790px 1574px #FFF , 203px 1377px #FFF , 1883px 1608px #FFF , 1942px 1962px #FFF , 749px 1746px #FFF , 1078px 480px #FFF;
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}/*# sourceMappingURL=loader.css.map */