.loader {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #000000 100%);
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

.loader > div {
  width: 100%;
}

#main-loader {
  grid-column-start: 2;
}

#loading-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 347px 6565px #FFF , 1316px 1965px #FFF , 1223px 1859px #FFF , 453px 930px #FFF , 701px 1136px #FFF , 914px 1289px #FFF , 679px 533px #FFF , 1109px 279px #FFF , 861px 1383px #FFF , 1680px 653px #FFF , 1307px 1143px #FFF , 1080px 76px #FFF , 854px 410px #FFF , 1583px 1237px #FFF , 568px 22px #FFF , 1003px 907px #FFF , 1275px 32px #FFF , 180px 1810px #FFF , 1980px 1681px #FFF , 1279px 491px #FFF , 973px 406px #FFF , 243px 1303px #FFF , 612px 1199px #FFF , 260px 1467px #FFF , 936px 928px #FFF , 884px 600px #FFF , 428px 1894px #FFF , 497px 1331px #FFF , 52px 1103px #FFF , 119px 80px #FFF , 205px 109px #FFF , 1099px 287px #FFF , 1783px 638px #FFF , 651px 1877px #FFF , 238px 400px #FFF , 1485px 1683px #FFF , 265px 577px #FFF , 1609px 1977px #FFF , 1919px 122px #FFF , 800px 1805px #FFF , 1674px 355px #FFF , 266px 165px #FFF , 77px 1324px #FFF , 1165px 1008px #FFF , 146px 1071px #FFF , 616px 349px #FFF , 1361px 636px #FFF , 581px 952px #FFF , 188px 428px #FFF , 1069px 368px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 347px 6565px #FFF , 1316px 1965px #FFF , 1223px 1859px #FFF , 453px 930px #FFF , 701px 1136px #FFF , 914px 1289px #FFF , 679px 533px #FFF , 1109px 279px #FFF , 861px 1383px #FFF , 1680px 653px #FFF , 1307px 1143px #FFF , 1080px 76px #FFF , 854px 410px #FFF , 1583px 1237px #FFF , 568px 22px #FFF , 1003px 907px #FFF , 1275px 32px #FFF , 180px 1810px #FFF , 1980px 1681px #FFF , 1279px 491px #FFF , 973px 406px #FFF , 243px 1303px #FFF , 612px 1199px #FFF , 260px 1467px #FFF , 936px 928px #FFF , 884px 600px #FFF , 428px 1894px #FFF , 497px 1331px #FFF , 52px 1103px #FFF , 119px 80px #FFF , 205px 109px #FFF , 1099px 287px #FFF , 1783px 638px #FFF , 651px 1877px #FFF , 238px 400px #FFF , 1485px 1683px #FFF , 265px 577px #FFF , 1609px 1977px #FFF , 1919px 122px #FFF , 800px 1805px #FFF , 1674px 355px #FFF , 266px 165px #FFF , 77px 1324px #FFF , 1165px 1008px #FFF , 146px 1071px #FFF , 616px 349px #FFF , 1361px 636px #FFF , 581px 952px #FFF , 188px 428px #FFF , 1069px 368px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1421px 11610px #FFF , 525px 1045px #FFF , 1199px 291px #FFF , 903px 1328px #FFF , 1971px 1710px #FFF , 558px 273px #FFF , 1246px 1635px #FFF , 168px 1216px #FFF , 1693px 194px #FFF , 5px 1824px #FFF , 1789px 1518px #FFF , 1577px 605px #FFF , 300px 1730px #FFF , 1896px 310px #FFF , 997px 1095px #FFF , 81px 327px #FFF , 455px 717px #FFF , 1697px 1733px #FFF , 913px 1231px #FFF , 782px 1787px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1421px 11610px #FFF , 525px 1045px #FFF , 1199px 291px #FFF , 903px 1328px #FFF , 1971px 1710px #FFF , 558px 273px #FFF , 1246px 1635px #FFF , 168px 1216px #FFF , 1693px 194px #FFF , 5px 1824px #FFF , 1789px 1518px #FFF , 1577px 605px #FFF , 300px 1730px #FFF , 1896px 310px #FFF , 997px 1095px #FFF , 81px 327px #FFF , 455px 717px #FFF , 1697px 1733px #FFF , 913px 1231px #FFF , 782px 1787px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1924px 1961px #FFF , 205px 1484px #FFF , 867px 1198px #FFF , 1057px 1097px #FFF , 1132px 157px #FFF , 924px 1532px #FFF , 1677px 235px #FFF , 1268px 1531px #FFF , 1931px 729px #FFF , 1830px 348px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1924px 1961px #FFF , 205px 1484px #FFF , 867px 1198px #FFF , 1057px 1097px #FFF , 1132px 157px #FFF , 924px 1532px #FFF , 1677px 235px #FFF , 1268px 1531px #FFF , 1931px 729px #FFF , 1830px 348px #FFF;
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}/*# sourceMappingURL=loader.css.map */