.loader {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #000000 100%);
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

.loader > div {
  width: 100%;
}

#main-loader {
  grid-column-start: 2;
}

#loading-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 551px 13623px #FFF , 664px 729px #FFF , 299px 1085px #FFF , 161px 1969px #FFF , 1547px 946px #FFF , 105px 180px #FFF , 1392px 302px #FFF , 157px 1542px #FFF , 209px 1984px #FFF , 1084px 1436px #FFF , 1193px 167px #FFF , 955px 273px #FFF , 361px 870px #FFF , 481px 860px #FFF , 719px 679px #FFF , 1360px 185px #FFF , 1489px 1202px #FFF , 850px 925px #FFF , 147px 1503px #FFF , 786px 746px #FFF , 604px 1257px #FFF , 1667px 623px #FFF , 1595px 676px #FFF , 5px 1134px #FFF , 1464px 810px #FFF , 1990px 255px #FFF , 1761px 1829px #FFF , 51px 1412px #FFF , 1299px 1721px #FFF , 1040px 1525px #FFF , 558px 1690px #FFF , 1047px 1884px #FFF , 221px 341px #FFF , 501px 1583px #FFF , 1631px 1400px #FFF , 565px 898px #FFF , 99px 981px #FFF , 865px 1393px #FFF , 1028px 1827px #FFF , 631px 1247px #FFF , 1582px 1548px #FFF , 500px 432px #FFF , 648px 558px #FFF , 5px 1073px #FFF , 811px 483px #FFF , 1795px 535px #FFF , 1872px 42px #FFF , 1837px 1251px #FFF , 1844px 802px #FFF , 1365px 72px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 551px 13623px #FFF , 664px 729px #FFF , 299px 1085px #FFF , 161px 1969px #FFF , 1547px 946px #FFF , 105px 180px #FFF , 1392px 302px #FFF , 157px 1542px #FFF , 209px 1984px #FFF , 1084px 1436px #FFF , 1193px 167px #FFF , 955px 273px #FFF , 361px 870px #FFF , 481px 860px #FFF , 719px 679px #FFF , 1360px 185px #FFF , 1489px 1202px #FFF , 850px 925px #FFF , 147px 1503px #FFF , 786px 746px #FFF , 604px 1257px #FFF , 1667px 623px #FFF , 1595px 676px #FFF , 5px 1134px #FFF , 1464px 810px #FFF , 1990px 255px #FFF , 1761px 1829px #FFF , 51px 1412px #FFF , 1299px 1721px #FFF , 1040px 1525px #FFF , 558px 1690px #FFF , 1047px 1884px #FFF , 221px 341px #FFF , 501px 1583px #FFF , 1631px 1400px #FFF , 565px 898px #FFF , 99px 981px #FFF , 865px 1393px #FFF , 1028px 1827px #FFF , 631px 1247px #FFF , 1582px 1548px #FFF , 500px 432px #FFF , 648px 558px #FFF , 5px 1073px #FFF , 811px 483px #FFF , 1795px 535px #FFF , 1872px 42px #FFF , 1837px 1251px #FFF , 1844px 802px #FFF , 1365px 72px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 463px 3388px #FFF , 1394px 120px #FFF , 1783px 825px #FFF , 506px 1761px #FFF , 1956px 1234px #FFF , 1380px 1445px #FFF , 82px 1354px #FFF , 1619px 1316px #FFF , 722px 160px #FFF , 1374px 945px #FFF , 996px 426px #FFF , 1905px 959px #FFF , 1850px 31px #FFF , 1776px 1432px #FFF , 1317px 1871px #FFF , 965px 567px #FFF , 560px 1934px #FFF , 23px 181px #FFF , 1303px 74px #FFF , 746px 1277px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 463px 3388px #FFF , 1394px 120px #FFF , 1783px 825px #FFF , 506px 1761px #FFF , 1956px 1234px #FFF , 1380px 1445px #FFF , 82px 1354px #FFF , 1619px 1316px #FFF , 722px 160px #FFF , 1374px 945px #FFF , 996px 426px #FFF , 1905px 959px #FFF , 1850px 31px #FFF , 1776px 1432px #FFF , 1317px 1871px #FFF , 965px 567px #FFF , 560px 1934px #FFF , 23px 181px #FFF , 1303px 74px #FFF , 746px 1277px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1325px 2353px #FFF , 4px 1646px #FFF , 609px 1984px #FFF , 1648px 1667px #FFF , 453px 525px #FFF , 1854px 825px #FFF , 335px 1993px #FFF , 1568px 93px #FFF , 1582px 1783px #FFF , 1657px 1659px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1325px 2353px #FFF , 4px 1646px #FFF , 609px 1984px #FFF , 1648px 1667px #FFF , 453px 525px #FFF , 1854px 825px #FFF , 335px 1993px #FFF , 1568px 93px #FFF , 1582px 1783px #FFF , 1657px 1659px #FFF;
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}/*# sourceMappingURL=loader.css.map */