.loader {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #000000 100%);
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
}

.loader > div {
  width: 100%;
}

#main-loader {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

#loading-text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 715px 19188px #FFF , 1398px 1604px #FFF , 1px 869px #FFF , 1082px 1793px #FFF , 1933px 958px #FFF , 1117px 1992px #FFF , 1077px 428px #FFF , 1239px 79px #FFF , 1488px 1886px #FFF , 665px 997px #FFF , 1848px 1037px #FFF , 353px 1214px #FFF , 1493px 1699px #FFF , 758px 749px #FFF , 65px 487px #FFF , 1376px 1739px #FFF , 1246px 468px #FFF , 1708px 1368px #FFF , 842px 736px #FFF , 621px 776px #FFF , 1374px 540px #FFF , 1731px 1512px #FFF , 75px 442px #FFF , 1301px 886px #FFF , 1827px 1558px #FFF , 1835px 751px #FFF , 1868px 1035px #FFF , 1864px 1766px #FFF , 587px 461px #FFF , 269px 1778px #FFF , 1366px 1736px #FFF , 1812px 39px #FFF , 1750px 1473px #FFF , 833px 1925px #FFF , 1006px 1631px #FFF , 621px 1220px #FFF , 180px 831px #FFF , 122px 601px #FFF , 1048px 1497px #FFF , 122px 1007px #FFF , 230px 1184px #FFF , 1302px 779px #FFF , 1892px 928px #FFF , 422px 1884px #FFF , 234px 419px #FFF , 872px 1542px #FFF , 732px 494px #FFF , 729px 668px #FFF , 27px 406px #FFF , 1024px 64px #FFF;
          box-shadow: 715px 19188px #FFF , 1398px 1604px #FFF , 1px 869px #FFF , 1082px 1793px #FFF , 1933px 958px #FFF , 1117px 1992px #FFF , 1077px 428px #FFF , 1239px 79px #FFF , 1488px 1886px #FFF , 665px 997px #FFF , 1848px 1037px #FFF , 353px 1214px #FFF , 1493px 1699px #FFF , 758px 749px #FFF , 65px 487px #FFF , 1376px 1739px #FFF , 1246px 468px #FFF , 1708px 1368px #FFF , 842px 736px #FFF , 621px 776px #FFF , 1374px 540px #FFF , 1731px 1512px #FFF , 75px 442px #FFF , 1301px 886px #FFF , 1827px 1558px #FFF , 1835px 751px #FFF , 1868px 1035px #FFF , 1864px 1766px #FFF , 587px 461px #FFF , 269px 1778px #FFF , 1366px 1736px #FFF , 1812px 39px #FFF , 1750px 1473px #FFF , 833px 1925px #FFF , 1006px 1631px #FFF , 621px 1220px #FFF , 180px 831px #FFF , 122px 601px #FFF , 1048px 1497px #FFF , 122px 1007px #FFF , 230px 1184px #FFF , 1302px 779px #FFF , 1892px 928px #FFF , 422px 1884px #FFF , 234px 419px #FFF , 872px 1542px #FFF , 732px 494px #FFF , 729px 668px #FFF , 27px 406px #FFF , 1024px 64px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 715px 19188px #FFF , 1398px 1604px #FFF , 1px 869px #FFF , 1082px 1793px #FFF , 1933px 958px #FFF , 1117px 1992px #FFF , 1077px 428px #FFF , 1239px 79px #FFF , 1488px 1886px #FFF , 665px 997px #FFF , 1848px 1037px #FFF , 353px 1214px #FFF , 1493px 1699px #FFF , 758px 749px #FFF , 65px 487px #FFF , 1376px 1739px #FFF , 1246px 468px #FFF , 1708px 1368px #FFF , 842px 736px #FFF , 621px 776px #FFF , 1374px 540px #FFF , 1731px 1512px #FFF , 75px 442px #FFF , 1301px 886px #FFF , 1827px 1558px #FFF , 1835px 751px #FFF , 1868px 1035px #FFF , 1864px 1766px #FFF , 587px 461px #FFF , 269px 1778px #FFF , 1366px 1736px #FFF , 1812px 39px #FFF , 1750px 1473px #FFF , 833px 1925px #FFF , 1006px 1631px #FFF , 621px 1220px #FFF , 180px 831px #FFF , 122px 601px #FFF , 1048px 1497px #FFF , 122px 1007px #FFF , 230px 1184px #FFF , 1302px 779px #FFF , 1892px 928px #FFF , 422px 1884px #FFF , 234px 419px #FFF , 872px 1542px #FFF , 732px 494px #FFF , 729px 668px #FFF , 27px 406px #FFF , 1024px 64px #FFF;
          box-shadow: 715px 19188px #FFF , 1398px 1604px #FFF , 1px 869px #FFF , 1082px 1793px #FFF , 1933px 958px #FFF , 1117px 1992px #FFF , 1077px 428px #FFF , 1239px 79px #FFF , 1488px 1886px #FFF , 665px 997px #FFF , 1848px 1037px #FFF , 353px 1214px #FFF , 1493px 1699px #FFF , 758px 749px #FFF , 65px 487px #FFF , 1376px 1739px #FFF , 1246px 468px #FFF , 1708px 1368px #FFF , 842px 736px #FFF , 621px 776px #FFF , 1374px 540px #FFF , 1731px 1512px #FFF , 75px 442px #FFF , 1301px 886px #FFF , 1827px 1558px #FFF , 1835px 751px #FFF , 1868px 1035px #FFF , 1864px 1766px #FFF , 587px 461px #FFF , 269px 1778px #FFF , 1366px 1736px #FFF , 1812px 39px #FFF , 1750px 1473px #FFF , 833px 1925px #FFF , 1006px 1631px #FFF , 621px 1220px #FFF , 180px 831px #FFF , 122px 601px #FFF , 1048px 1497px #FFF , 122px 1007px #FFF , 230px 1184px #FFF , 1302px 779px #FFF , 1892px 928px #FFF , 422px 1884px #FFF , 234px 419px #FFF , 872px 1542px #FFF , 732px 494px #FFF , 729px 668px #FFF , 27px 406px #FFF , 1024px 64px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 1990px 17309px #FFF , 1189px 216px #FFF , 1992px 1186px #FFF , 1513px 1849px #FFF , 969px 1523px #FFF , 324px 805px #FFF , 331px 497px #FFF , 1629px 1968px #FFF , 1397px 1453px #FFF , 1651px 1751px #FFF , 1956px 136px #FFF , 865px 668px #FFF , 977px 341px #FFF , 1341px 1617px #FFF , 1295px 1163px #FFF , 536px 53px #FFF , 1564px 1924px #FFF , 479px 371px #FFF , 1452px 778px #FFF , 606px 947px #FFF;
          box-shadow: 1990px 17309px #FFF , 1189px 216px #FFF , 1992px 1186px #FFF , 1513px 1849px #FFF , 969px 1523px #FFF , 324px 805px #FFF , 331px 497px #FFF , 1629px 1968px #FFF , 1397px 1453px #FFF , 1651px 1751px #FFF , 1956px 136px #FFF , 865px 668px #FFF , 977px 341px #FFF , 1341px 1617px #FFF , 1295px 1163px #FFF , 536px 53px #FFF , 1564px 1924px #FFF , 479px 371px #FFF , 1452px 778px #FFF , 606px 947px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 1990px 17309px #FFF , 1189px 216px #FFF , 1992px 1186px #FFF , 1513px 1849px #FFF , 969px 1523px #FFF , 324px 805px #FFF , 331px 497px #FFF , 1629px 1968px #FFF , 1397px 1453px #FFF , 1651px 1751px #FFF , 1956px 136px #FFF , 865px 668px #FFF , 977px 341px #FFF , 1341px 1617px #FFF , 1295px 1163px #FFF , 536px 53px #FFF , 1564px 1924px #FFF , 479px 371px #FFF , 1452px 778px #FFF , 606px 947px #FFF;
          box-shadow: 1990px 17309px #FFF , 1189px 216px #FFF , 1992px 1186px #FFF , 1513px 1849px #FFF , 969px 1523px #FFF , 324px 805px #FFF , 331px 497px #FFF , 1629px 1968px #FFF , 1397px 1453px #FFF , 1651px 1751px #FFF , 1956px 136px #FFF , 865px 668px #FFF , 977px 341px #FFF , 1341px 1617px #FFF , 1295px 1163px #FFF , 536px 53px #FFF , 1564px 1924px #FFF , 479px 371px #FFF , 1452px 778px #FFF , 606px 947px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 1277px 19676px #FFF , 1237px 1503px #FFF , 422px 1276px #FFF , 1963px 1313px #FFF , 509px 119px #FFF , 1201px 1754px #FFF , 1724px 384px #FFF , 672px 1090px #FFF , 1796px 829px #FFF , 173px 1323px #FFF;
          box-shadow: 1277px 19676px #FFF , 1237px 1503px #FFF , 422px 1276px #FFF , 1963px 1313px #FFF , 509px 119px #FFF , 1201px 1754px #FFF , 1724px 384px #FFF , 672px 1090px #FFF , 1796px 829px #FFF , 173px 1323px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 1277px 19676px #FFF , 1237px 1503px #FFF , 422px 1276px #FFF , 1963px 1313px #FFF , 509px 119px #FFF , 1201px 1754px #FFF , 1724px 384px #FFF , 672px 1090px #FFF , 1796px 829px #FFF , 173px 1323px #FFF;
          box-shadow: 1277px 19676px #FFF , 1237px 1503px #FFF , 422px 1276px #FFF , 1963px 1313px #FFF , 509px 119px #FFF , 1201px 1754px #FFF , 1724px 384px #FFF , 672px 1090px #FFF , 1796px 829px #FFF , 173px 1323px #FFF;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}
/*# sourceMappingURL=loader.css.map */